@font-face {
	font-family: 'ChosunCentennial';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}




/* ======================================= 문의 목록 공통 ======================================= */
/* 리뷰 리스트 */
.qna #searchForm {
	text-align: center;
	vertical-align: middle;
}

.qna h1 {
	text-align: center;
	color: #f3e7db;
	margin: 50px 0 50px 0;
	font-family: 'ChosunCentennial';
	font-weight: normal;
	font-style: normal;
	font-size: 35px;
}

.qna .qnaList {
	margin: 10px auto 30px;
	text-align: center;
}

.qna .qnaList,
.qnaList th,
.qnaList td {
	border: 1px solid #a88d6e;
	border-collapse: collapse;
	color: #f3e7db;
	padding: 12px 20px;
}

.qna .qnaList tr:first-child {
	background-color: rgba(168, 141, 110, 0.7);
	font-size: 17px;

}

.qna .qnaList .title {
	max-width: 450px;
}
.qna .qnaList td a{
	display: inline-block;
	max-width: 450px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.qna .qnaList tr td:nth-child(4) {
	text-align: left;
}

.qna .qnaList a {
	color: #f3e7db;
	text-decoration: none;
}

.qna .qnaList a:hover {
	color: #E09132;
	font-weight: bold;
	transform: scale(1.1);
}

/*글쓰기 버튼*/
.qna .write-button {
	text-align: right;

}

.qna .write-button button {
	
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 3px;
	background-color: rgba(168, 141, 110, 0.8);
	cursor: pointer;
	border: none;
	color: #f3e7db;
	font-size: 16px;
}


.qna .qnaListPaging {
	margin: 0 auto;
}

.qnaListPaging .pagination .active a {
	background-color: #a88d6e;
}

/*==============================================*/


/* ======================================= 문의 상세 ======================================= */
h2 {
	text-align: left;
	color: #f3e7db;
	margin: 120px 0 20px 50px;
	font-family: 'ChosunCentennial';
	font-weight: normal;
	font-style: normal;
	font-size: 42px;
}

.detail-content {
	color: #f3e7db;
	margin: 50px 50px 0 50px;
	text-align: right;
}

.bar {
	margin: 5px;
}

.detail-hr {
	margin: 20px;
	border: 1px solid #a88d6e;
}

.qnaDetail .content {
	margin: 50px;
	color: #f3e7db;
	font-size: 20px;
	line-height: 2;
}

.qnaDetail .filename {
	text-align: right;
	margin-right: 50px;
	color: #f3e7db;
	font-size: 18px;
}

.qnaDetail .tr_btn {
	text-align: right;
}

.qnaDetail img {
	max-width: 1000px;
	height: auto;
	display: block;
	margin: 10px auto;
}

.qnaDetail button {
	margin: 5px 5px 0 0;
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #a88d6e;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: none;
	margin-right: 10px;
}

.qnaDetail button a {
	text-decoration: none;
	color: #f3e7db;
	font-size: 16px;
}

.qnaDetail button:hover {
	background-color: #a88d6e;
}


/* 문의 답글 */
.qnaDetail #comments .section {
	margin: 30px 10px;
	background-color: rgba(168, 141, 110, 0.3);
	border-radius: 5px;
	color: #f3e7db;
	padding: 20px;
}

.qnaDetail #comments tr {
	vertical-align: baseline;
}

.qnaDetail #comments .comment-writer {
	font-size: 20px;
	width: 150px;
}

.qnaDetail #comments .comment-writer .writer {
	color: #E09132;
	font-weight: bold;
}

.qnaDetail #comments .comment-writer .date {
	font-size: 15px;
}

.qnaDetail #comments .comment-writer span {
	margin: 0 5px;
}

.qnaDetail #comments .comment-content {
	display: block;
	margin: 20px 30px;
	width: 1060px;
	font-size: 18px;
}

.qnaDetail #commSection .commSectionTable tbody {
	vertical-align: bottom;
}

.qnaDetail #commSection textarea {
	border: 1px solid rgb(168, 141, 110);
	border-radius: 5px;
	background-color: transparent;
	width: 1060px;
	margin: 5px 10px;
	resize: none;
	color: #f3e7db;
	height: 100px;
	padding: 7px;
	font-size: 16px;
	resize: none;

}

.qnaDetail #commSection button {
	width: 90px;
	margin-bottom: 10px;
	font-size: 16px;
	color: #f3e7db;
}

/* **************************************************************************** */
/* 문의 검색창 */
.qna-search-form {
	text-align: center;
	margin-bottom: 30px;
}

.search-select {
	height: 42px;
	width: 120px;
	font-size: 16px;
	border: 1px solid #a88d6e;
	border-radius: 4px 0 0 4px;
	background-color: rgb(34, 36, 28);
	color: #f3e7db;
	padding: 0 15px;
	line-height: 16px;
	/* -webkit-appearance: none; */
}

.search-input {
	background: transparent;
	height: 42px;
	width: 327px;
	color: #f3e7db;
	border: 1px solid #a88d6e;
	border-radius: 0 4px 4px 0;
	/* -webkit-appearance: none; */
	font-size: 16px;
	font-weight: 500;
	padding: 0 15px;
	line-height: 16px;
}

.search-all {
	background: rgba(168, 141, 110, 0.7);
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	border: 0;
	border-radius: 0 4px 4px 0;
	height: 42px;
	padding: 0 20px;
	text-decoration: none;
	line-height: 16px;
}

.search-all:hover {
	background: #a88d6e;
}

/* 반응형 스타일 */
@media only screen and (max-width: 680px) {

	.search-select,
	.search-input,
	.search-button,
	.search-all {
		width: 100%;
		margin-bottom: 10px;
	}
}

/* *************************************************************** */
/* 문의 페이징 */
.qnaListPaging {
	text-align: center;
	margin: 20px auto 0 auto;
}

.qnaListPaging .pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.qnaListPaging .pagination a {
	margin: 0 5px 0 0;
	padding: 6px 12px;
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: rgb(60, 65, 44);
	color: #fff;
	outline: 0;
	text-decoration: none;
	transition: all 0.2s linear;

	&:hover {
		background-color: lighten(#2c3840, 10%);
	}
}

/* 버튼 선택 됐을 때 */
.qnaListPaging .pagination .active a {
	background-color: #a88d6e;

}

/* 다음 페이지 */
.qnaListPaging .pagination .pagination-next a {
	border-radius: 10px 0 0 10px;
	margin-right: 18px;

	&:hover::after {
		border-left: 17px solid lighten(#2c3840, 10%);
	}

	&::after {
		content: "";
		position: absolute;
		top: -1px;
		right: -16px;
		width: -2px;
		height: 0;
		border-top: 18.5px solid transparent;
		border-bottom: 17.3px solid transparent;
		border-left: 15px solid rgb(60, 65, 44);
		transition: all 0.2s linear;
	}
}

/* 이전 페이지 */
.qnaListPaging .pagination .pagination-previous a {
	border-radius: 0 10px 10px 0;
	margin-left: 18px;

	&:hover::after {
		border-right: 30px solid lighten(#2c3840, 10%);
	}

	&::before {
		content: "";
	}

	&::after {
		content: "";
		position: absolute;
		top: -1px;
		left: -16px;
		width: -2px;
		height: 0;
		border-bottom: 17.3px solid transparent;
		border-top: 18.5px solid transparent;
		border-right: 15px solid rgb(60, 65, 44);
		transition: all 0.2s linear;
	}
}


/* ======================================= 문의 쓰기, 수정 ======================================= */
.qna-write h1 {
	text-align: center;
	color: #f3e7db;
	margin: 50px 0 50px 0;
	font-family: 'ChosunCentennial';
	font-weight: normal;
	font-style: normal;
	font-size: 35px;
}

.qna-write .qnaWriteTable {
	margin: 0 auto;
}

.qna-write .qnaWriteTable,
.qna-write .qnaWriteTable th,
.qna-write .qnaWriteTable td {
	border: 1px solid #a88d6e;
	border-collapse: collapse;
	color: #f3e7db;
	padding: 15px 20px;
}

.qna-write .qnaWriteTable tr th:first-child {
	background-color: rgba(168, 141, 110, 0.5);
	font-size: 17px;
}

.qna-write .qnaWriteTable select {
	height: 25px;
	width: 120px;
	background-color: transparent;
	color: #f3e7db;
	border: 1px solid #a88d6e;
	font-size: 16px;
}

.qna-write .qnaWriteTable select option {
	background-color: rgb(34, 36, 28);
	font-size: 16px;
}

.qna-write .qnaWriteTable input[type=text] {
	background-color: transparent;
	border: none;
	color: #f3e7db;
	font-size: 16px;
	height: 25px;
	width: 700px;
}

.qna-write .qnaWriteTable textarea {
	width: 700px;
	height: 500px;
	background-color: transparent;
	border: none;
	color: #f3e7db;
	font-size: 16px;
	resize: none;
}

.qna-write .qnaWriteTable button {
	margin: 5px 5px 0 0;
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #a88d6e;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: none;
	margin-right: 10px;
	color: #f3e7db;
	font-size: 16px;
}

.qna-write .qnaWriteTable button a {
	text-decoration: none;
	color: #f3e7db;

}

.qna-write .qnaWriteTable .qnaWriteBtn {
	text-align: right;
}

.qna-write .qnaWriteTable li {
	color: red;
	list-style: none;
	padding: 5px 0;
}