@charset "UTF-8";


.null{
	text-align: center;
}

h2 {
	font-size: 2rem;
	margin: 30px 0 20px 150px;
	color: #f3e7db;
}

h3 {
	font-size: 1.5rem;
	color: #f3e7db;
}

hr{
	margin: 30px;
}

.t1 table {
	margin: 30px auto;
	max-width: 600px;
	width: 100%;
	border-collapse: collapse;
	color: #f3e7db;
}

.t1 td {
	border: 1px solid rgba(243, 231, 219, 0.5);
	padding: 10px;
}


.button-container {
	text-align: right;
	margin-top: 10px;
}

button {
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgba(243, 231, 219, 0.5);
	color: #f3e7db;
    background-color: rgb(34, 36, 28);

}

button:hover{
	/*background-color: rgba(247, 173, 74, 1);*/
	background-color: rgb(245, 183, 67);
}


table tr:nth-child(-n+6) td:first-child{
	text-align: right;
	width: 120px;
	
}

table tr:nth-child(-n+6) td:nth-child(2){
	padding-left: 20px;
	letter-spacing: 2px;
}


.t1{
	border-bottom: 1px solid #444;
}

.t2s{
	padding-left: 30px;
	width: 1100px;
	white-space: normal; /* 텍스트 줄 바꿈 허용 */
	margin: 0 auto;
	padding-left: 50px;
}

.t2{
	height: 290px;
	text-align: center;
	border-collapse: collapse;
	color: #f3e7db;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.t2 table{
	width: 330px;
}


.t2 tr:nth-child(-n+6) td:first-child{
	text-align: right;
	width: 100px;
	
}

.t2 td{
	border: 1px solid rgba(84, 68, 50, 0.6);
	padding: 10px;
	color: rgb(192, 192, 192);
	opacity: 0.7;
}
