<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="supul.mapper.BranchMapper">

   <select id="selectList" resultType="supul.model.Branch">
      SELECT * FROM branch;
   </select>
   
   <select id="selectById" resultType="supul.model.Branch" parameterType="int">
       SELECT * FROM branch
       WHERE branch_id = #{branchId}
   </select>
   
   <insert id="insertBranch" parameterType="supul.model.Branch">
           INSERT INTO branch (name, address, phone, coordinate) 
           VALUES (#{name}, #{address}, #{phone}, #{coordinate})
   </insert>

   <select id="selectByName" resultType="supul.model.Branch">
       SELECT * FROM branch WHERE name = #{name}
   </select>
   
   <!-- Branch 정보 수정 -->
   <update id="updateBranch" parameterType="supul.model.Branch">
       UPDATE branch
       SET name = #{name},
           address = #{address},
           phone = #{phone},
           coordinate = #{coordinate}
       WHERE branch_id = #{branchId}
   </update>
   
   <!-- Branch 정보 삭제 -->
   <delete id="deleteBranch" parameterType="int">
       DELETE FROM branch
       WHERE branch_id = #{branchId}
   </delete>



</mapper>