<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Thema List</title>
	<link th:if="${userRole != null}" th:href="@{/css/inc/superHeader.css}" rel="stylesheet" type="text/css">
	<link th:if="${admin != null && userRole ==null}" th:href="@{/css/inc/adminHeader.css}" rel="stylesheet"
		type="text/css">
	<link th:if="${userRole != null}" th:href="@{/css/thema/themaList.css}" rel="stylesheet" type="text/css">
	<link th:if="${admin != null && userRole ==null}" th:href="@{/css/thema/themaList2.css}" rel="stylesheet"
		type="text/css">
	<link th:href="@{/css/inc/footer.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/inc/footer.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">

	<style>
		.pagination {
			text-align: center;
		}
	</style>
	<script th:inline="javascript">
		$(document).ready(function () {
			$('#branchName').change(function () {
				var selectedName = $(this).val(); // select에서 선택한 값 가져오기
				// URL 이동
				console.log(selectedName)
				window.location.href = '/thema/themaList?branchName=' + selectedName;

			});
		});

	</script>
</head>

<body>
	<header>
		<block th:if="${userRole!=null}">
			<div th:replace="~{inc/superHeader :: headerMenu}"></div>
		</block>
		<block th:unless="${userRole!=null}">
			<div th:replace="~{inc/adminHeader :: headerMenu}"></div>
		</block>
	</header>
	<div class="container">
		<h2>테마 목록</h2>

		<div class="select">
			<label for="branchName">지점 선택:</label>
			<select name="branchName" id="branchName">
				<option>-- 선택하세요 --</option>
				<option th:each="branch : ${branchList}" th:value="${branch.name}" th:text="${branch.name}"
					th:selected="${branch.name == branchName}"></option>
			</select>
			<button onclick="resetPage()">전체보기</button>
		</div>

		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>지점명</th>
					<th>타이틀</th>
					<th>시간</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="thema, stat : ${themas}">
					<td th:text="${page.totalElements - (page.number * page.size + stat.index)}"></td>
					<td th:text="${thema.branch.name}"></td>
					<td style="width: 25%;">
						<a th:href="|/thema/detail/${thema.themaId}|" th:text="${thema.title}"></a>
					</td>
					<td th:text="${thema.timetable}" style="text-align: justify; width: 55%;"></td>
				</tr>
			</tbody>
		</table>
		<div class="page">
			<div class="pagination">
				<!-- 이전 페이지로 이동 -->
				<span th:if="${page.hasPrevious()}" class="page-item">
					<a th:href="@{|/thema/themaList?page=0&size=${page.size}|}" class="page-link">&lt;&lt;</a>
					<a th:href="@{|/thema/themaList?page=${page.number - 1}&size=${page.size}|}"
						class="page-link">&lt;</a>
				</span>

				<!-- 페이지 번호 출력 -->
				<span th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
					th:class="${page.number == i} ? 'active'">
					<a th:href="@{|/thema/themaList?page=${i}&size=${page.size}|}" th:text="${i + 1}"
						class="page-link"></a>
				</span>

				<!-- 다음 페이지로 이동 -->
				<span th:if="${page.hasNext()}" class="page-item">
					<a th:href="@{|/thema/themaList?page=${page.number + 1}&size=${page.size}|}"
						class="page-link">&gt;</a>
					<a th:href="@{|/thema/themaList?page=${page.totalPages - 1}&size=${page.size}|}"
						class="page-link">&gt;&gt;</a>
				</span>
			</div>
		</div>
		<div class="reg">
			<block th:if="${userRole != mull}">
				<a th:href="@{/thema/form}">새테마 등록</a>
			</block>
		</div>

	</div>
	<script>
		function resetPage() {
			window.location.href = "/thema/themaList";
		}
	</script>
	<footer>
		<div th:replace="~{inc/footer :: footer}"></div>
	</footer>
</body>

</html>