<div th:fragment="footer">
	<footer id="footer">
		<section class="footer_top">
			<div class="inner">
				<ul class="footer_list">
					<li><a href="/user/privacy">개인정보취급방침</a></li>
					<li><a href="/user/signuppopup">이용약관</a></li>
					<li><a href="/home/branchInfo/전체">지점소개</a></li>
				</ul>
				<button type="button" class="btn_top">BACK TO TOP</button>
			</div>
		</section>
		<section class="footer_bottom">
			<div class="inner">
				<div class="site_info">
					<!--로고-->
					<a href="/" class="footer_logo"><img src="/images/supul4.png" /></a>
					<ul class="site_info_1">
						<li><span>상호명</span> SUPUL</li>
						<li><span>주소</span> 서울특별시 강남구 역삼동 635-17 3~6층 장연빌딩</li>
					</ul>
					<ul class="site_info_2">
						<li><span>(주)수풀컴퍼니</span> </li>
						<li><span> 사업자등록번호</span> 848-81-042605</li>
						<li><span> 통신판매업 신고 </span> 2022-그린컴 </li>
						<!-- 190926 요청에 따라 연락 이메일 교체 -->
						<li><span>대표전화</span> 1800.0426 &nbsp;&nbsp; / &nbsp;&nbsp; <span>E-mail</span>
							supulcompany@naver.com</li>
					</ul>
					<div class="copyright">Copyright ⓒ The Team Supul. All rights reserved.</div>
				</div>
			</div>
		</section>
	</footer>
</div>