@charset "UTF-8";


.themaselect {
	width: 800px;
	margin:auto;

}

.mechul {
	margin: 1% 0 0.5% 0.5%;
	box-sizing: border-box;
	color: #f5f5f5;
	width: 100%;
	padding: 20px;
	/*background-color: rgba(243, 231, 219, 0.2);*/
	border-radius: 20px;
	/*	background-color: #3f5856;*/
	border: 1px solid rgba(63, 88, 86, 0.3);
	background-color: #3f5856;
	/*background-color: rgb(219, 183, 74);*/
	text-align: center;
	align-items: center;


}

.chart_branch{
	width: 800px;
	margin: auto
	
}


.mechul2 {
	margin: 1% 0 0.5% 0.5%;
	box-sizing: border-box;
	color: #3f5856;
	width: 100%;
	padding: 20px;
	/*background-color: rgba(243, 231, 219, 0.2);*/
	border-radius: 20px;
	/*	background-color: #3f5856;*/
	border: 1px solid rgba(63, 88, 86, 0.3);
	background-color: #f5f5f5;
	/*background-color: rgb(219, 183, 74);*/
	text-align: center;
	align-items: center;

}



/* 폼 스타일링 */
.form-container {
	margin: 0 auto;
	padding: 20px;


}



label {
	display: inline-block;
	font-weight: bold;
}

.btn1 {
	width:100px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.btn2 {
	width:150px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.btn_align {
	margin: auto;

}

button {
	background-color: #a88d6e  ;
	color: #fff;
	cursor: pointer;
}

button:hover {
	background-color: #E09132;
}

select,
input {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #a88d6e;
	background-color: transparent;
	color: #f3e7db;
	width: 130px;
}

option{
	background-color:#a88d6e;
}


/* 달력 */
#calendar {
	width: 900px;
	/* 원하는 너비(px) 설정 */
	height: 600px;
	/* 원하는 높이(px) 설정 */
	margin: auto;
}

/* 이벤트의 배경색과 텍스트 색상 지정 */
.fc-event {
	background-color: #3498db;
	/* 배경색 지정 */
	color: #ffffff;
	/* 텍스트 색상 지정 */
	font-size: 14px;
	/* 글꼴 크기 지정 */
	border: none;
	/* 테두리 없애기 */
}

/* 달력 이벤트를 호버할 때 스타일 지정 */
.fc-event:hover {
	background-color: #2980b9;
	/* 호버 시 배경색 변경 */
}

.custom-table {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}

.custom-table a {
	color: rgb(168, 141, 110);
}

.custom-table th,
.custom-table td {
	
	padding: 8px;
	text-align: center;
}



.rvlist_container {
	color: #f3e7db;
}

