@charset "UTF-8";

.popup{
	text-align: center;
	box-sizing: border-box;
	color:#f5f5f5;
	width: 100%;
	padding: 20px;
	/*background-color: rgba(243, 231, 219, 0.2);*/
	border-radius: 20px;
	/*	background-color: #3f5856;*/
	border: 1px solid rgba(63, 88, 86, 0.3);
	background-color:#3f5856;
}
 th {
	background-color: #f3e7db;
	color: #3f5856;
	font-size: 17px;

}
td{
	color: #f3e7db;
}
select,
input {
	
	font-size: 16px;
	border: 1px solid #a88d6e;
	background-color: transparent;
	color: #f3e7db;
	width: 130px;
}
option {
	background-color:#a88d6e;
}

table, th, td{
	border: 1px solid #a88d6e;
	border-collapse: collapse;
	color: #3f5856;
	padding: 12px 20px;
	margin: auto;
}