@charset "UTF-8";


 th {
	background-color: #f3e7db;
	color: #3f5856;
	font-size: 17px;

}
td{
	color: #f3e7db;
}
select,
input {
	
	font-size: 16px;
	border: 1px solid #a88d6e;
	background-color: transparent;
	color: #f3e7db;
	width: 130px;
}
option {
	background-color:#a88d6e;
}

table, th, td{
	border: 1px solid #a88d6e;
	border-collapse: collapse;
	color: #3f5856;
	padding: 12px 20px;
	margin: auto;
}