@charset "UTF-8";

.container {
	    display: flex;
    flex-wrap: wrap;
	}
.superMainsection1 {
	margin: 1% 0.5% 0.5% 0;
	box-sizing: border-box;
	color: #3f5856;
	border: 1px solid rgba(168, 141, 110, 0.5);
	border-radius: 20px;
	width: 69.5%;
	padding: 20px;
	height: 450px;
	background-color: #f5f5f5;
	
}
select{
	color: #3f5856;
	height: 30px;
}

.superMainsection2 {
	margin: 1% 0 0.5% 0.5%;
	background-color: #f5f5f5;
	border: 1px solid rgba(63, 88, 86, 0.3);
	border-radius: 20px;
	box-sizing: border-box;
	color: #3f5856;
	width: 29.5%;
	padding: 20px;
	height: 450px;
	text-align: center;
	border-bottom: 1px solid rgba(168, 141, 110, 0.5);
	
}

.superMainsection2 img {
	border: 2px solid #f3e7db;


}

/* 세션 3 스타일 */
.superMainsection3 {
		margin: 0.5% 0.5% 1% 0;
	box-sizing: border-box;
	color: #3f5856;
	width: 29.5%;
	padding: 20px;
	/*background-color: rgba(243, 231, 219, 0.2);*/
	border-radius: 20px;
	/*	background-color: #3f5856;*/
	border: 1px solid rgba(63, 88, 86, 0.3);
	background-color: #f5f5f5;
/*	background-color: #ffc109;*/
	text-align: center;
	align-items: center;


	
}

.superMainsection4 {
	margin: 0.5% 0 1% 0.5%;
	box-sizing: border-box;
	color: #3f5856;
	border-right: 1px solid rgb(175, 194, 199);
	border-bottom: 1px solid rgb(175, 194, 199);
	border-radius: 20px;
	width: 69.5%;
	padding: 20px;
	
	/*	background-color: #f5f5f5;*/
	background-color: #f5f5f5;
	
	
}

.btn_align {
	text-align: center;
	margin: auto;
	

}
.btn{
	width: 80px;
	height: 30px;
	background-color: #f3e7db ;
	border-radius: 5px;
}
button {
	background-color: #a88d6e  ;
	color: #3f5856;
	cursor: pointer;
}

button:hover {
	background-color: #E09132;
}


  .custom-table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.custom-table a{
	color:  rgb(168, 141, 110);
}

.custom-table th, .custom-table td {
    border: 1px solid #f3e7db;;
    padding: 8px;
    text-align: center;
}
   

.canvas-container {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
	justify-content: space-around;
	/* Canvas 요소 사이에 공간을 두고 정렬 */
	/* 또는 아래와 같이 float 속성을 사용할 수도 있습니다.
    float: left;
    margin-right: 10px; */
}